<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - $$$ FinCtrl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item">Главная</li>
                <li class="list-group-item">Платежи</li>
                <li class="list-group-item" asp-controller="PaymentSource" asp-action="Index">Источники платежей</li>
                <li class="list-group-item">Категории</li>                
            </ul>
        </div>
        <div class="col">
            <main role="main" class="pb-3">
                @RenderBody()
            </main> 
        </div>    
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
